.clearfixt::after{
    content: "";
    display: block;
    clear: both;
}

.header-part {
	background-color: #1b4962;
	color: white;
	
	line-height: 52px;
}
.section-1 i{
    margin-right: 5px;
} 
.section-1 span{
    color: #ec4760;
}
.section-2 i{
   margin-right: 5px;
   
}

.section-3 ul li{
    display: inline-block;
}
.section-3 ul li a {
	text-decoration: none;
	margin-right: 10px;
	
}
/* menu-part start */
.menu-part{
    padding: 20px;
}
.logo {
    
}
.scend-menu{padding: 15px 0px 15px 9px;}
.scend-menu ul{
    line-height: 35px;
    
    margin-bottom: -4px;
}
.scend-menu ul li{
    display: inline-block;
    position: relative;
}
.scend-menu ul li a {
	text-decoration: none;
	margin-right: 15px;
    color: black;
}
.scend-menu ul li a i{
    margin-left: 7px;
   
}
.scend-menu ul li ul {
	position: absolute;
	width: 180px;
	top: 100%;
	background-color: white;
	left: 0px;
	padding: 10px 21px;
	text-align: left;
	border: 1px solid #dddddd;
	visibility: hidden;
	opacity: 0;
	transition: .5s;
	z-index: 5;
}
.scend-menu ul li:hover  ul{
    opacity: 1;
    top: 100%;
    visibility: visible;
    transition: .5s;
 
}

.icon-2{}
.icon-2 ul{
    line-height: 30px;
    margin-top: 23px;
}
.icon-2 ul li{
    display: inline-block;
}
.icon-2 ul li a{
    text-decoration: none;
}
.icon-2 ul li:first-child{
    border-right: 1px solid black;
    margin-right: 1px;
}
.icon-2 ul li:first-child i {
	margin-right: 5px;
}
.number {
	color: white;
    transition: .5s;
}
.number h5 {
	background-color: #dc3545;
	padding: 5px 25px 5px 19px;
	margin-left: 35px;
	line-height: 58px;
	border-radius: 6px;
}
.number h5::before{
    content: "\f879";
    font-family:"Font Awesome 5 free" ;
    font-weight: 600;
    display: inline-block;
    

}
.number h5:hover{
    background-color:#8d333ce7 ;
    transition: .5s;
    cursor: pointer;
}
/* beaner-part start*/
.beaner-part{
    background-image: url(https://i.postimg.cc/QdrHQbk9/9.jpg);
    height: 620px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.all {
	margin-top: 163px;
	position: relative;
}
.all span {
	font-size: 25px;
	color: #1b4962;
	margin-left: 63px;
	font-weight: 700;
}
.all h2{
    color: #ec4760;
    font-weight: 600;
    font-size: 60px;
}
.all h1 {
	font-size: 50px;
	color: #1b4962;
	font-weight: 600;
}
.all p{
    color: #7c7066;
    font-size: 20px;
}
.scendnd-part a{
    color: #fff;
    text-decoration: none;
}

.button1 {
	background-color: #dc3545;
	display: inline-block;
	padding: 15px 37px 15px 15px;
	border-radius: 5px;
	transition: .5s;
	text-align: center;
	margin-right: 10px;
}
.button1:hover{
  background-color:#bd3744dc ;

    transition: .5s;
   
}

.button2{
    background-color:#edeef0;
    display: inline-block;
    padding: 15px 37px 15px 15px;
    border-radius: 5px;
 
    text-align: center;
    border: 1px solid red;
   
    
}
.button2 h4{
    color: red;
}
.button2 h4:hover{
    color: #fff;
}
.button2:hover{
    background-color: #dc3545;
    
    transition: .5s;
   
}

.save1{
   
    height: 2px;
    width: 28px;
    position: absolute;
    background-color: red;
    top: 13px;
    left: 24px;
}
.save2{
   
    height: 2px;
    width: 28px;
    position: absolute;
    background-color: red;
    top: 18px;
    left: 33px;
}
/* logo-text */
.logo-text{
   
    margin-top: 24px;
}
.first{
    line-height: 127px;
    margin-left: 40px;
}
.first span:hover{
    color:#1b4962 ;
    transition: .5s;
    cursor: pointer;
}
.first span{
    color: #dc3545;
    font-size: 24px;
    transition: .5s;
}
.logo-img{
    text-align: center;
}
.logo-img img{}
.last{
    line-height: 121px;
}
.last span{
    color: #1b4962;
    font-size: 24px;
    cursor: pointer;
}
/* img-section */
.img-section{
    margin-top: 20px;
    background-color: #d5c6b63b;
}
.img{
    float: left;
    width: 50%;
}
.img img{
    
}
.img-section img{
    margin-left: 15px;
    max-width: 641px;
}
.text-part{
    position: relative;
    float: left;
    width: 50%;
}
.text-part h4 {
	color: #1b4962;
	margin-left: 49px;
    
	font-size: 33px;
}
.text-part h4 span{
    color: #ec4760;
}
.text-part h1 {
    color:#1b4962 ;
}
.text-part h1 span{
    color: #ec4760;
}
.text-part p{
    color: #8e8e75;
}
.img-part{}
.img-1{
    position: relative;
    display: inline-block;
    margin-left: 30px;
}
.img-1 span{
    color:#ec4760 ;
}
.img-1 i {
	position: absolute;
	top: 35px;
	left: 45px;
	font-size: 62px;
	line-height: 65px;
	text-align: center;
	color: #e84760;
}
.img-part h5 {
	margin-top: 35px;
	
}
.down-aro{
    position: relative;
}
.down-aro i {
	position: absolute;
	top: -10px;
	left: 73px;
	font-size: 26px;
}
.last-a{
    position: relative;
    line-height: 127px;
}
.last-a span {
	color: #ec4760;
	margin-left: 35px;
	font-size: 25px;
}
.das1{
   
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 11px;
    left: 6px;
}
.das2{
   
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 18px;
    left: 11px;
}
.das-3{
   
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 57px;
    left: -11px;
}
.das-4{
   
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 64px;
    left: -1px;
}
/* mind-section */
.mind-section{
    background-image:url(https://i.postimg.cc/W3XLv7ft/calltoaction-bg.jpg) ;
    height: 275px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.margin{
    
}
.lear{
    margin-top: 55px;
    position: relative;
}
.lear span{
    color: #1b4962;
    font-size: 30px;
    margin-left: 100px;
   
}
.text{
    
}
.lear h1{
    color: #fff;
    font-size: 42px;
}


.lin1{
   
    height: 2px;
    width: 50px;
    position: absolute;
    background-color: red;
    top: 70px;
    left: 40px;
}
.lin2{
   
    height: 2px;
    width: 50px;
    position: absolute;
    background-color: red;
    top: 80px;
    left: 57px;
}
.lear2 {
    color:#ec4769 ;
}
.lear2 i{
    margin-left: 5px;
    
}

.lear2 h4{
    margin-top: 104px;
    background-color: white;
    border: 30px solid #ec4769;
    display: inline-block;
    padding: 5px 35px 5px 10px;
}
/* prove-part start */
.prove-part{
    background-color: #1b4962;
    width: auto;
    height: 900px;
    padding: 60px;
    position: relative;
}
.das-6{
    
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 55px;
    left: 123px;
}
.das-7{
    
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 62px;
    left: 142px;
}
.writen-part{
    
}
.writen-part p{
    color: #636e6f;
    margin-top: 14px;
    font-size: 23px;
}
.writen-part h5 {
	color: #fff;
	font-size: 28px;
	margin-left: 62px;
	
	line-height: 3px;
}
.writen-part h1{
    color: #fff;
    margin-top: 29px;
    font-size: 45px;
}
.writen-part h2{
    color: #f0586f;
    margin-top: 21px;
    font-size: 45px;
}
.writen-part span{
    color: #ec4769;
}
.img-list{
   
}
.pic-pst{
    display: inline-block;
}
.pic-pst{
  text-align: center;
    float: left; 
    width: 28%; 
    margin-left: 45px;
   
  margin-top: 20px;
}

.pic-pst img{}
.pic-pst h1{
    color:#e84760 ;
    font-size: 30px;
    margin-top: 10px;
}
.pic-pst h2{
    color: #fff;
    font-size: 17px;
}
.pic-pst p{
    color: #fff;
    margin-top: 19px;
}
.plas {
	border: 1px solid #e84760;
	display: inline-block;
	padding: 10px 20px;
	margin-top: 20px;
}
.plas i{
    color: #fff;
}
.plas:hover{
    background-color:#e84760 ;
    transition: .5s;
    cursor: pointer;
    color:#fff;
}
.line{
    
    height: 2px;
    width: 310px;
    background-color: #e84760;
   
    margin-top: 15px;
    margin-bottom: 10px;
}
/* logo-section start*/
.logo-section{}
.logo-1 {
	float: left;
	width: 17%;
	margin-left: 40px;
	padding: 20px;
}
.logo-1 img{}
/* text-lady star */
.text-lady{
    position: relative;
}
.lady-text{}
.das-8{
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 21px;
    left: 139px;
}
.das-9{
    height: 2px;
    width: 35px;
    position: absolute;
    background-color: red;
    top: 12px;
    left: 128px;
}
.lady-text h5{
    color: #1b4962;
    margin-left: 60px;
    font-size: 30px;
}
.lady-text h1{
    color: #1b4962;
    font-size: 50px;
}
.lady-text h2{
    color: #e84760;
    font-size: 45px;
}
.lady-text span{
    color: #e84760;
}
.lady-text .xl{
    color: black;
    font-size: 17px;
}
.text-img{}
.img-slot-1{
   
    float: left;
    width: 32%;
}
.img-slot-1 img {
	max-height: 372px;
	border-bottom: 4px solid blue;
	margin-top: 20px;
	margin-left: 15px;
}
.img-slot-2{
    float: left;
    width: 32%;
}
.img-slot-2 img{
    max-height: 372px;
	border-bottom: 4px solid blue;
	margin-top: 20px;
	margin-left: 15px;
}
/* last-text */
.last-text{
    text-align: center;
    margin-top: 40px;
    position: relative;
}
.last-text h5{
    color: #1b4962;
    font-size: 40px;
}
.last-text span{
    color:#ec4760 ;
}
.last-text h1{
    color: #1b4962;
    font-size: 48px;
   
    font-weight: 601;
    margin-bottom: 60px;
}
.das-10{
    height: 2px;
    width: 50px;
    position: absolute;
    background-color: red;
    top: 23px;
    left: 360px;
}
.das-11{
    height: 2px;
    width: 50px;
    position: absolute;
    background-color: red;
    top: 14px;
    left: 338px;
}
/* footer-img-part star */
.footer-img-part{
  
}
.das-12{
  
	position: absolute;
	background-color: #ec4760;
	top: -14px;
	left: 25px;
    
	padding: 6px 10px 6px 10px;

}
.pesonal-way .das-12::before{
    content:attr(limon);

   
    font-size: 13px;
    color: #fff;
   
}

.pesonal-way{
    float: left;
    width: 33%;
    position: relative; 
    
}
.pesonal-way img{
   
    max-width: 345px;
}
.pesonal-way h1{
    font-size: 19px;
    margin-top: 17px;
    color: #ec4760;
    text-align: center;
}
.pesonal-way span{}
.pesonal-way p{
    font-size: 25px;
    color: #1b4962;
    text-align: center;
}
/* Foter-last part */
.Foter-last {
	background-color: #163c4f;
	position: relative;
	height: 545px;
	
}
.das-13{
    height: 2px;
    width: 47px;
    position: absolute;
    background-color: red;
    top: 22px;
    left: 0px;
}
.das-14{
    height: 2px;
    width: 41px;
    position: absolute;
    background-color: red;
    top: 14px;
    left: -6px;
}
.text{
    margin-right: 52px;
}
.google-map{
    margin-left: -100px;
    
}
.Foter-last span {
	color: #fff;
	font-size: 25px;
	margin-left: 37px;
}
.Foter-last h3{
    color: #fff;
    font-weight: 600;
    font-size: 55px;
   
}
.Foter-last h4{
    color: #dc3545;
    font-size: 50px;
    font-weight: 600;
}
.mail-box {
	border-bottom: 1px solid black;
	position: relative;
	margin-top: 15px;
}
.mail-box h1{
    color: #fff;
    font-size: 27px;
    
    margin-left: 100px;
}
.mail-box h2{
    color: #dc3545;
    font-size: 24px;
    
    margin-left: 100px;
}
.mail-box h4{
    position: absolute;
    top: 10px;
    left: 0px;
    color: #fff;
    font-size: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    /*! padding: 15px; */
    line-height: 50px;
  
    height: 50px;
    width: 50px;
    text-align: center;
}
.mail-box h4 i{}
.contact{}
.contact h1 {
	color: #fff;
	background-color: #dc3545;
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
	padding: 10px;
    transition: .5s;
}
.contact h1:hover{
background-color: #8f2731d2;
cursor: pointer;
transition: .5s;
}

/* foter-end */
.foter-end{
    background-color:#0a2d3f ;
    text-align: center;
    padding: 20px;

}
.foter-end p{
    color: #fff;
    font-size: 25px;
   
    padding-bottom: -4;
}
.foter-end span{
    color: #dc3545;
}
    
